html {overflow:  hidden  !important;}
body{ padding: 0px !important;}

#fp_wrap{ padding: 0px;}
.wrapper{ background: #ccc; float:left;}
.wrapper_margin{ width:10px; float:left;}
.line_margin{ height:10px; width:100%; clear: left;}
.tmp_img{ overflow: hidden; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%; height:100%; border:2px solid #FCF9CE; background: #EF3C24; width: 100%; height: 100%;}

#fp_box_1{text-align: center; color: #FCF9CE;}
#fp_box_2{}
#fp_box_3{}
#fp_box_4{}
#fp_box_5{}
#fp_box_6{}
#fp_box_7{}
#fp_box_8{}
#fp_box_9{text-align: center; color: #FCF9CE;}

#logo_fp{}
.text_fp{}

#fp_nav{ margin-bottom: 15px;}
#nav_block_wrap{ margin:auto; width: 358px; text-align: left; }

/*//////////////////*/
#text{ text-align: center; background: red; color:yellow; font-size: 12px;}

.link{font-size: 21px; line-height: 25px; color: #FCF9CE;}
.link:hover{color: #d21a1a;}