* {margin: 0; padding: 0; border: 0; font-family: Arial, sans-serif; font-size: 12px; list-style-type: none;}
html { width: 100%; height:100%;}
body { background: #EF3C24; padding-top: 40px; width: 100%; height:100%;}
h1{font-size:32px; color:#EF3C24;}
h2{font-size:16px; color:#EF3C24;}
h3{font-size:14px; color:#EF3C24;}

p{text-align: justify; margin-bottom: 8px;}

.redtext{color:#EF3C24;}
.yellowtext{color:#FCF9CE;}


#content_wrap{overflow: hidden;}
#leftcolumn{width: 246px; float: left;				height: 300px; }
#contentcolumn{width: 940px; padding: 20px; background: #fff; overflow: hidden;}

#wrapbox_top{float: left;}
#right-top-hidden, #right-bottom-hidden{float: left; margin: 0 0 0 20px;									 display: none; }
#contentbox{height:620px;}
#contentbody{float: left; width:620px; height:620px; background: none;}
#contentbody-r{float: left; margin: 0 0 0 20px;}
#contentbody-b{clear: both;}

#wrapbox_bottom{float: left;}
/*#right-bottom-hidden{float: left; margin: 0 0 0 20px;								display: none; }*/



.tmpbox{width:298px; height:298px;border:1px solid #666766;}
.lastinrowbox{width:298px; height:298px;border:1px solid #666766; float: left; margin: 0;}

#contentbody-r .tmpbox{margin: 0 0 20px 0;}
#right-top-hidden .tmpbox{margin: 0 0 20px 0;}
#contentbody-b .tmpbox, #wrapbox_bottom .tmpbox{float: left; margin: 0 20px 20px 0;}

#hideblockbtn{clear: both; cursor: pointer;}
#hideblock{									display: none;}

#vizitki_selectbox_line{margin-top: 7px;}
#material{float:left; height: 28px; margin: 0 19px 0 0;}
#select-color{float:left; margin: 0 19px 0 0;}
#select-tirazh{float:left; width: 192px; height: 28px; background: none; border: 1px solid #666766; color: #666766; text-align: center; font-size: 14px;}
#material span{font-size: 14px; margin: 5px 0 0 5px; display: block;}
#select-color span{font-size: 14px; margin: 5px 0 0 5px; display: block;}

#vizitki_dop_line{clear: both; width: 100%; height: 16px; padding: 15px 0;}
#vizitki_dop_line_bottom{ width: 100%; height: 16px; background: url(/images/redline1px.png) repeat-x center; padding: 10px 0;}
.line{width: 209px; height:16px; float: left; background: url(/images/redline1px.png) repeat-x center;}
.line_text{width: 200px;float: left; text-align: center;}
.line_text span{font-size: 14px;}
#vizitki_radiolist{clear: both;}
#radiotbl{color: #666766; text-align: right; }
#radiotbl span{margin: 0 15px 0 0;}
.radiobtn{width: 26px; height: 26px; border: 1px solid #666766; cursor: pointer;}
.selected{background: url(/images/reddot26.png) no-repeat center;}

#btns{float: right; padding-bottom:20px;}

#help_invisieble_box{display: none; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background: none;}

#material-options{display: none; color: #666766; width:192px; position: absolute; z-index: 2; background: white; border: 1px solid #666766;}
#select-color-options{display: none; color: #666766; width:192px; position: absolute; z-index: 2; background: white; border: 1px solid #666766;}
#material-options li{font-size: 14px; line-height: 28px; margin-left: 5px;}
#select-color-options li{font-size: 14px; line-height: 28px; margin-left: 5px;}
.selectbox{width: 192px; height: 28px; background: none; border: 1px solid #666766; color: #666766; cursor: pointer;}
.selectoption_material{cursor: pointer;}
.selectoption_color{}
.sendbtn{cursor: pointer; width: 147px; height: 28px; font-size: 14px; background: none; border: 1px solid #666766; color: #666766; display: block;}

#result{width: 145px; height: 22px; font-size:16px; color:#EF3C24; text-align: center; margin: 10px 0;}

#notice1, #notice2, #notice3, #notice4{display:none; border:none; height: 26px; width:204px; float: left; color: #666766; line-height: 26px;}
.notice_line{clear:left; margin: 0 0 42px 0; line-height:45px;}
.notice_txt{float: left; width:150px;text-align:right;}
.notice_check{float: right;}
#alert{display:none; border:solid red 1px; height: 26px; width:450px; float: left; text-align: center; color: red; line-height: 26px; margin-bottom: 10px;}
/*html {overflow:  hidden;}*/


/*#fp_wrap{padding: 0px;}
.wrapper{ background: #fff; float:left;}
.wrapper_margin{width:5px; float:left;}
.line_margin{height:5px; width:100%; clear: left;}
#text{text-align: center; background: red; color:yellow;}
.tmp_img{background: url(/images/main_prw_tmp.jpg) no-repeat center; width: 100%; height: 100%; background-size: cover;}*/






#color-op-1, #color-op-2, #color-op-3, #color-op-4{ width: 48px; float: left;}
#color-op-1 li, #color-op-2 li, #color-op-3 li, #color-op-4 li{ padding-left:7px; cursor: pointer;}
/*//////////////////////////////////////noselect class*/	
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}