<style type="text/css">
* {margin: 0; padding: 0; border: 0; font-family: Arial, sans-serif; font-size: 12px; list-style-type: none;}
body {background: #EF3C24; padding-top: 40px;}
h1{font-size:32px; color:#EF3C24;}
h2{font-size:16px; color:#EF3C24;}
h3{font-size:14px; color:#EF3C24;}

p{text-align: justify; margin-bottom: 8px;}

.redtext{color:#EF3C24;}
.yellowtext{color:#FCF9CE;}


#bodyred{width: 100%; height:100%;}
#leftcolumn{width: 246px; float: left;				height: 300px;}
#contentcolumn{/*width: 994px;*/width: 940px; padding: 20px; background: #fff; overflow: hidden;}

#wrapbox_top{float: left;}
#right-top-hidden, #right-bottom-hidden{float: left; margin: 0 0 0 20px;									 display: none; }
#contentbox{height:620px;}
#contentbody{float: left; width:620px; height:620px; background: none;}
#contentbody-r{float: left; margin: 0 0 0 20px;}
#contentbody-b{clear: both;}

#wrapbox_bottom{float: left;}
/*#right-bottom-hidden{float: left; margin: 0 0 0 20px;								display: none; }*/



.tmpbox{width:298px; height:298px;border:1px solid #666766;}
.lastinrowbox{width:298px; height:298px;border:1px solid #666766; float: left; margin: 0;}

#contentbody-r .tmpbox{margin: 0 0 20px 0;}
#right-top-hidden .tmpbox{margin: 0 0 20px 0;}
#contentbody-b .tmpbox, #wrapbox_bottom .tmpbox{float: left; margin: 0 20px 20px 0;}

#hideblockbtn{clear: both; cursor: pointer;}
#hideblock{									display: none;}

#vizitki_selectbox_line{margin-top: 7px;}
#material{float:left; height: 28px; margin: 0 19px 0 0;}
#select-color{float:left; margin: 0 19px 0 0;}
#select-tirazh{float:left; width: 192px; height: 28px; background: none; border: 1px solid #666766; color: #666766; text-align: center; font-size: 14px;}
#material span{font-size: 14px; margin: 5px 0 0 5px; display: block;}
#select-color span{font-size: 14px; margin: 5px 0 0 5px; display: block;}

#vizitki_dop_line{clear: both; width: 100%; height: 16px; padding: 15px 0;}
#vizitki_dop_line_bottom{ width: 100%; height: 16px; background: url("images/redline1px.png") repeat-x center; padding: 10px 0;}
.line{width: 209px; height:16px; float: left; background: url("images/redline1px.png") repeat-x center;}
.line_text{width: 200px;float: left; text-align: center;}
.line_text span{font-size: 14px;}
#vizitki_radiolist{clear: both;}
#radiotbl{color: #666766; text-align: right; }
#radiotbl span{margin: 0 15px 0 0;}
.radiobtn{width: 26px; height: 26px; border: 1px solid #666766; cursor: pointer;}
.selected{background: url("images/reddot26.png") no-repeat center;}

#btns{float: right; padding-bottom:20px;}

#help_invisieble_box{display: none; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background: none;}

#material-options{display: none; color: #666766; width:192px; position: absolute; z-index: 2; background: white; border: 1px solid #666766;}
#select-color-options{display: none; color: #666766; width:192px; position: absolute; z-index: 2; background: white; border: 1px solid #666766;}
#material-options li{font-size: 14px; line-height: 28px; margin-left: 5px;}
#select-color-options li{font-size: 14px; line-height: 28px; margin-left: 5px;}
.selectbox{width: 192px; height: 28px; background: none; border: 1px solid #666766; color: #666766; cursor: pointer;}
.selectoption_material{cursor: pointer;}
.selectoption_color{}
.sendbtn{cursor: pointer; width: 147px; height: 28px; font-size: 14px; background: none; border: 1px solid #666766; color: #666766; display: block;}

#result{width: 145px; height: 22px; font-size:16px; color:#EF3C24; text-align: center; margin: 10px 0;}

#notice1, #notice2, #notice3, #notice4{display:none; border:none; height: 26px; width:204px; float: left; color: #666766; line-height: 26px;}
.notice_line{clear:left; margin: 0 0 42px 0; line-height:45px;}
.notice_txt{float: left; width:150px;text-align:right;}
.notice_check{float: right;}
#alert{display:none; border:solid red 1px; height: 26px; width:450px; float: left; text-align: center; color: red; line-height: 26px; margin-bottom: 10px;}
/*html {overflow:  hidden;}*/


/*reddot26.png*/


#fp_wrap{padding: 0px;}
.wrapper{/*width:33%; height:33%;*/ background: #fff; float:left;}
.wrapper_margin{width:5px; float:left;}
.line_margin{height:5px; width:100%; clear: left;}
#text{text-align: center; background: red; color:yellow;}
.tmp_img{background: url("images/main_prw_tmp.jpg") no-repeat center; width: 100%; height: 100%; background-size: cover;}
/*.line_margin{width: 100%; height:5px; background: blue; clear: both;}*/






#color-op-1, #color-op-2, #color-op-3, #color-op-4{ width: 48px; float: left;}
#color-op-1 li, #color-op-2 li, #color-op-3 li, #color-op-4 li{ padding-left:7px; cursor: pointer;}
////////////////////////////////////////noselect class	
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

</style>

<!-- <div id="text" style="position: fixed; top:0; left:0;"></div> -->

<div id="bodyred">
	<div id="leftcolumn">
	</div>
	<div id="contentcolumn">
		<div id="wrapbox_top">
			<div id="contentbox">
				<div id="contentbody">
					<h1>Рассчет заказа онлайн</h1>
					<h2>Визитные карточки</h2>
					<div id="vizitki_selectbox_line">
						<div id="material" class="selectbox"><span class="noselect">Материал</span><input name="material" type="hidden" value="" /></div>
						<ul id="material-options" class="options-list">
							<% @papers.each do |paper| %>
								<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
							<% end %>
						</ul>
						<div id="select-color" class="selectbox"><span class="noselect">Печать</span><input name="color" type="hidden" value="" /></div>
						<ul id="select-color-options" class="options-list">
							<div id="color-op-1">
								<li class="selectoption_color">1+0<input class="" type="hidden" value="1+0"  /></li>
								<li class="selectoption_color">1+1<input class="" type="hidden" value="1+1"  /></li>
								<li class="selectoption_color">2+1<input class="" type="hidden" value="2+1"  /></li>
								<li class="selectoption_color">4+2<input class="" type="hidden" value="4+2"  /></li>
							</div>
							<div id="color-op-2">
								<li class="selectoption_color">2+0<input class="" type="hidden" value="2+0"  /></li>
								<li class="selectoption_color">2+2<input class="" type="hidden" value="2+2"  /></li>
								<li class="selectoption_color">3+1<input class="" type="hidden" value="3+1"  /></li>
								<li class="selectoption_color">4+3<input class="" type="hidden" value="4+3"  /></li>
							</div>
							<div id="color-op-3">
								<li class="selectoption_color">3+0<input class="" type="hidden" value="3+0"  /></li>
								<li class="selectoption_color">3+3<input class="" type="hidden" value="3+3"  /></li>
								<li class="selectoption_color">4+1<input class="" type="hidden" value="4+1"  /></li>
							</div>
							<div id="color-op-4">
								<li class="selectoption_color">4+0<input class="" type="hidden" value="4+0"  /></li>
								<li class="selectoption_color">4+4<input class="" type="hidden" value="4+4"  /></li>
								<li class="selectoption_color">3+2<input class="" type="hidden" value="3+2"  /></li>
							</div>
						</ul>
						
						<input id="select-tirazh" class="selectbox" type="text" value="Тираж"  />
					</div>
					<div id="vizitki_dop_line">
						<div class="line"></div>
						<div class="line_text"><span class="redtext">Дополнительная обработка</span></div>
						<div class="line"></div>
					</div>
					
					<div id="vizitki_radiolist">
						<table id="radiotbl" width="618px">
							<tr height="40px">
								<td width="176px"><span>Тиснение блинтовое</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp1" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Тиснение фольгой</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp2" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Тиснение конгрев</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp3" type="hidden" value="0" /></div></td>
							</tr>
							
							<tr height="40px">
								<td width="176px"><span>УФ-лак</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp4" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Уф-лак объемный</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp5" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Термоподъем </span></td>
								<td width="30px"><div class="radiobtn"><input name="dp6" type="hidden" value="0" /></div></td>
							</tr>

							<tr height="40px">
								<td width="176px"><span>Тонированный обрез</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp7" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Скругление углов</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp8" type="hidden" value="0" /></div></td>
								<td width="176px"><span>Вырубка</span></td>
								<td width="30px"><div class="radiobtn"><input name="dp9" type="hidden" value="0" /></div></td>
							</tr>					
							
						</table>
					</div>

					<div id="vizitki_dop_line_bottom"></div>
					<div id="btns">
						<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
						<div id="result">
						</div>
						<input class="sendbtn" type="submit" value="Оформить заказ" />
					</div>
					<div id="alert">
					</div>
					<div class="notice_line">
						<div id="notice1">
							<div class="notice_txt">Есть клише (блинт)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_blint" type="hidden" value="0" /></div></div>
						</div>
						<div id="notice2">
							<div class="notice_txt">Есть клише (фольга)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_folga" type="hidden" value="0" /></div></div>
						</div>
					</div>
					<div class="notice_line">
						<div id="notice3">
							<div class="notice_txt">Есть клише (конгрев)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_kongrev" type="hidden" value="0" /></div></div>
						</div>
						<div id="notice4">
							<div class="notice_txt">Есть штамп (вырубка)</div><div class="notice_check"><div class="radiobtn"><input name="vyrubka" type="hidden" value="0" /></div></div>
						</div>
					</div>
					

					<p style="clear:both;">
						<span class="redtext">Обратите внимание:</span>
					</p>
					<p>
						Если Вам нужны визитки с лакировкой, тиснением, термоподъемом и другими эффектами - выбирайте <span class="redtext">Дополнительную обработку.</span>
					</p>
					<p>
						Если в списке материалов нет желаемого, Вы можете ввести цену листа картона выбрав пункт «Указать цену». Стоимость можно узнать на сайтах  наших поставщиков: Берег, Дубль В.
					</p>
					<p>
						Термоподъем может быть только с одной стороны, но похожего эффекта можно добиться ос двух сторон, используя объемный УФ-лак.
					</p>
					<p>
						Блинтовое тиснение рекомендуем делать на толстом и мягком картоне или на «сэндвич»-визитках (склееных из нескольких слоев картона).
					</p>

				</div>
				<div id="contentbody-r">
					<div class="tmpbox"></div>
					<div class="tmpbox"></div>
				</div>
			</div>
			<div id="contentbody-b">
				<div class="tmpbox"></div>
				<div class="tmpbox"></div>
				<div class="lastinrowbox"></div>
			</div>
		</div>
		<div id="right-top-hidden">
			<div class="tmpbox"></div>
			<div class="tmpbox"></div>
			<div class="tmpbox"></div>
		</div>

		<div id="hideblockbtn">--------------------------------------------------</div>
		<div id="hideblock">
			<div id="wrapbox_bottom">
				<div class="tmpbox"></div>
				<div class="tmpbox"></div>
				<div class="lastinrowbox"></div>
				<div class="tmpbox"></div>
				<div class="tmpbox"></div>
				<div class="lastinrowbox"></div>
			</div>
			<div id="right-bottom-hidden">
				<div class="tmpbox"></div>
				<div class="tmpbox"></div>
				<div class="tmpbox"></div>
			</div>
		</div>

		

	</div>
</div>


<div id="footer"></div>
<div id="help_invisieble_box"></div>