<div id="foo-info">
	<div class="vcard">
		<div class="fn org"><b>ABC-Принт</b></div>
		<div>Производство эксклюзивной малотиражной полиграфии в Санкт-Петербурге.</div>
		<div class="adr"><span class="country-name">Россия</span>,&nbsp;<span class="locality">город Санкт-Петербург</span>,&nbsp;<span class="street-address">Химический переулок, д. 1, корп. П</span><br /><span>время работы: <span class="workhours">пн-пт 10:00-17:00</span></span></div>
		<a class="url" href="http://abc-design.ru">http://www.abc-design.ru</a><br />
		<%= mail_to "zakaz@abc-design.ru", "zakaz@abc-design.ru" %>
	</div>
</div>
<div id="foo-js">
	&nbsp;
</div>
<div id="foo-copyright">
	&copy; 1999–<%= Time.now.year%><br />&laquo;АВС-ПРИНТ&raquo;
</div>
<div id="counter">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t16.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</div>
<div style="clear:both;">
	&nbsp;
</div>

