<%
loops = (@prw.length-8)/12
loopsArr = Array.new()
n = 0
%>
<%
loops.times do |i|
	str = ''
	if n != loops
		12.times do |i|
		str += %[<div class="tmpbox"><img src="/images/tmpallstuff/#{@prw[(7+n*12)+i]}" alt="дизайн, печать, постпечатная обработка, шелкография, малотиражное производство рекламной продукции" title=" фото. #{@prw[(7+n*12)+i]}" /></div>]
		end
	loopsArr << str
	n += 1
	end
end
%>
<% 8.times do |i| %>
    <div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[i]}", {:title=>"Фото. #{@prw[i]}", :alt=>"Шелкография, полноцветная печать, визитки, брошюры, пакеты, календари"})%></div>
<%end %>

<div id="hideblock"></div>
<div id="hideblockbtn">
	<div class="line"></div>
	<div class="line_text"><span class="redtext">Больше фото</span></div>
	<div class="line"></div>
</div>

<script type="text/javascript">
var loops = <%= loops%>;
var k=0;
$("#hideblockbtn").click(showmore(loops, k));//end of hideblockbtn click

function showmore (loop, m) {
if (loop !== m) {
	$("#hideblock").show(0);
	$('<%=loopsArr[m]%>').appendTo('#hideblock');
	};
};
</script>