<div id="fp_wrap">
<div class="line_margin"></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper">
	 <div id="fp_box" class="tmp_img">
	 	<div id="logo_fp_1">
	 		<%= image_tag "logo_fp.png", alt: "АВС-Принт. Эксклюзивная полиграфия в Санкт-Петербурге" %>
	 		<div class="text_fp">
	 			эксклюзивная полиграфия в Санкт-Петербурге
	 		</div>
	 	</div>
	 </div>
	</div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_2" class="tmp_img"><%@prw.each do |e|%><%=e%><%end%></div></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_3" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>

<div class="line_margin"></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_4" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_5" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_6" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>

<div class="line_margin"></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_7" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_8" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>
	<div class="wrapper"><div id="fp_box_9" class="tmp_img"></div></div>
	<div class="wrapper_margin"></div>

<div class="line_margin"></div>
</div>