<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h2>Материалы готовятся к публикации.</h2>
		</div>

		<%= render "imgblock" %>
		
	</div>

</div>

<div id="footer">
	<%= render "footer" %>
</div>