<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h1>Рассчет заказа онлайн</h1>
			<h2>Папки-уголки (пластик)</h2>
			<div id="vizitki_selectbox_line">
				<div id="plotnost-ugol" class="selectbox"><span class="noselect">Плотность</span><input name="plotnost" type="hidden" value="" /></div>
				<ul id="plotnost-ugol-options" class="options-list">
					<li class="selectoption_plotnost-ugol">100 мкм<input type="hidden" value="100" /></li>
					<li class="selectoption_plotnost-ugol">120 мкм<input type="hidden" value="120" /></li>
					<li class="selectoption_plotnost-ugol">180 мкм<input type="hidden" value="180" /></li>
					<li class="selectoption_plotnost-ugol">папки заказчика<input type="hidden" value="none" /></li>
				</ul>
				<div id="color-ugol" class="selectbox"><span class="noselect">Цвет</span><input name="color_ugol" type="hidden" value="" /></div>
				<ul id="color-ugol-options" class="options-list">
					<li class="selectoption_color-ugol">Прозрачные<input type="hidden" value="transparent" /></li>
					<li class="selectoption_color-ugol">Жёлтые<input type="hidden" value="yellow" /></li>
					<li class="selectoption_color-ugol">Красные<input type="hidden" value="red" /></li>
					<li class="selectoption_color-ugol">Синие<input type="hidden" value="blue" /></li>
					<li class="selectoption_color-ugol">Зелёные<input type="hidden" value="green" /></li>
				</ul>
				<div id="select-tirazh-wrap"><input id="select-tirazh-ugol" class="selectbox" type="text" value="Тираж"  /></div>
			</div>

			<div id="vizitki_radiolist" style="margin-top:44px;">
				<table width="624px" cellpadding="0" cellspacing="0" border="0" >
					<tr height="40px">
						<td width="200px">
							<div id="select-color-ugol" class="selectbox"><span class="noselect">Печать</span><input name="color" type="hidden" value="" /></div>
							<div id="select-color-options-wrap" class="options-list">
								<ul id="select-color-options">
									<div id="color-op-1">
										<li class="selectoption_color"><span>1+0</span><input class="" type="hidden" value="1+0"  /></li>
										<li class="selectoption_color"><span>2+0</span><input class="" type="hidden" value="2+0"  /></li>
										<li class="selectoption_color"><span>3+0</span><input class="" type="hidden" value="3+0"  /></li>
										<li class="selectoption_color"><span>4+0</span><input class="" type="hidden" value="4+0"  /></li>
									</div>
									<div id="color-op-2">
										<li class="selectoption_color"><span>1+1</span><input class="" type="hidden" value="1+1"  /></li>
										<li class="selectoption_color"><span>2+2</span><input class="" type="hidden" value="2+2"  /></li>
										<li class="selectoption_color"><span>3+3</span><input class="" type="hidden" value="3+3"  /></li>
										<li class="selectoption_color"><span>4+4</span><input class="" type="hidden" value="4+4"  /></li>
										<li class="selectoption_color"><span>4+2</span><input class="" type="hidden" value="4+2"  /></li>
									</div>
									<div id="color-op-3">
										<li class="selectoption_color"><span>2+1</span><input class="" type="hidden" value="2+1"  /></li>
										<li class="selectoption_color"><span>3+1</span><input class="" type="hidden" value="3+1"  /></li>
										<li class="selectoption_color"><span>4+1</span><input class="" type="hidden" value="4+1"  /></li>
										<li class="selectoption_color"><span>3+2</span><input class="" type="hidden" value="3+2"  /></li>
										<li class="selectoption_color"><span>4+3</span><input class="" type="hidden" value="4+3"  /></li>
									</div>
								</ul>
							</div>
						</td>
						<td width="169px" style="color: #666766; text-align: right;"><span style="margin-right: 15px;">Тиснение фольгой</span></td>
						<td width="31px" align="right"><div class="radiobtn"><input name="dp" type="hidden" value="0" /></div></td>
						<td></td>
					</tr>
				</table>
			</div>

			<div id="vizitki_dop_line_bottom"></div>

			<div id="btns">
				<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
				<div id="result">
				</div>
				<%=link_to "<input class='sendbtn' type='submit' value='Оформить заказ' />".html_safe, contact_path %>
			</div>
				<div id="alert"></div>

			<p style="clear:both; margin-top:380px;">
				<span class="redtext p-header">Обратите внимание:</span>
			</p>
			<p>
				Если в списке материалов нет желаемого, Вы можете ввести цену листа картона выбрав пункт «Цена листа бумаги». Стоимость можно узнать на сайтах  наших поставщиков: Берег, Дубль В.
			</p>

		</div>

		<%= render "imgblock" %>

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>

<div id="help_invisieble_box"></div>